/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

.navbar {
    background-color: transparent; 
    padding: 10px;
    margin-bottom: 2px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: rgb(255, 29, 176); 
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
}

.active {
    border-bottom: 4px solid rgb(255, 29, 176);
}

.columna {
    float: left;
    padding: 20px; 
    min-height: 500px;
    border-radius: 20px; 
    margin-bottom: 20px;
}

body {
    background-image: url('dreamhouse.png');
    background-size: cover;       
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}

.izquierda {
    width: 23%;
    margin-right: 2%; 
}

.derecha {
width: 75%;
}

.fila:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color: rgba(255, 142, 246, 0.6);
}

#c2 {
    background-color: rgba(255, 142, 246, 0.6);
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: #ffe4fb;
}

.iresponsive {
    padding: 0 6px;
    width: 100%;
  }

p, li {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(139, 0, 133, 0.3); 
    font-size: 1.1rem; 
}

.tarjeta-mini {
    background-color: rgba(243, 194, 245, 0.5); 
    padding: 15px;
    margin-bottom: 15px;      
    border-radius: 15px;      
    border: 1px solid white;  
    width: 100%;              
    display: block;           
}

.tarjeta-mini p {
    color: #ffffff !important;   
    margin: 5px 0;
    text-shadow: none;        
}

.iresponsive,
.img-card {
    border-radius: 20px;   
    overflow: hidden;      
    margin-bottom: 15px;
}

.iresponsive img,
.img-card img {
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.iresponsive img:hover,
.img-card img:hover {
    transform: scale(1.08);
}


@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 0.85rem !important; 
        padding-bottom: 2px;
    }

    .navbar li {
        margin: 0 8px !important; 
    }

    .active {
        border-bottom: 2px solid rgb(255, 29, 176);
    }

    .card, .columna, .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */