body {
    background-color: #101520;
    color: #ECF0F1;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    touch-action: none; /* Evita gestos del navegador en móvil */
}

#game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

#hud {
    width: 100%;
    border: 3px solid #34495E;
    background: #1A1F2B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
}

#hud b { color: #32E0C4; }

canvas {
    border: 4px solid #ECF0F1;
    background-color: #080A10;
    max-width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
}

progress {
    width: 120px;
    height: 12px;
    accent-color: #E74C3C;
}

/* Pantallas de mensaje */
#start-screen, #game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1A1F2B;
    border: 5px solid #ECF0F1;
    padding: 30px;
    text-align: center;
    z-index: 200;
    width: 450px;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#start-screen h1 { color: #32E0C4; }
#final-message { font-size: 2.2rem; text-shadow: 2px 2px 0px #000; line-height: 1.2; }

/* Botones y Controles */
button {
    background: #32E0C4;
    color: #1A1F2B;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
}

#mobile-controls-wrapper {
    display: none;
    width: 100%;
    margin-top: 20px;
}

#mobile-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.touch-btn {
    width: 75px;
    height: 75px;
    background: rgba(50, 224, 196, 0.2);
    border: 3px solid #32E0C4;
    color: #32E0C4;
    font-size: 1.5rem;
    border-radius: 50%;
    touch-action: manipulation;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#btn-shoot {
    width: 90px;
    height: 90px;
    background: rgba(231, 76, 60, 0.2);
    border-color: #E74C3C;
    color: #E74C3C;
}

@media (max-width: 850px) {
    #game-container { width: 95vw; }
    #mobile-controls-wrapper { display: block; }
}